@charset "UTF-8";
h1 {
  font-family: "Goudy Bookletter 1911";
}

.main {
  background-color: rgba(214, 230, 243, 0.9);
}

ul.borderless li.list-group-item {
  float: left;
  border: none;
  padding: 0.1rem;
}

.footer-copyright {
  text-align: center;
  text-shadow: 2px 3px 5px #3d8089;
  font-weight: 500;
}

.btn-lg .fab {
  font-size: 2.4rem;
  border: 3px solid #c9ebf8;
  border-radius: 35px;
  width: 57px;
  height: 55px;
  padding: 6px 4px;
  background-color: #c9ebf8;
  -webkit-box-shadow: 3px 4px 10px #c3ad9f;
          box-shadow: 3px 4px 10px #c3ad9f;
}

.btn-lg .fab::before {
  color: #17a2b8;
}

.btn-lg .fab:hover {
  background-color: #d3cac3;
  -webkit-box-shadow: 3px 4px 10px #A43E30;
          box-shadow: 3px 4px 10px #A43E30;
}

.btn-lg .fa-facebook-f,
.btn-lg .fa-linkedin-in {
  padding-left: 10px;
}

.carousel .carousel-indicators {
  margin-right: 0;
  margin-left: 0;
  bottom: -26px;
}

.carousel .carousel-indicators li {
  width: 20%;
  height: auto;
  background-color: #000;
  margin-right: 0;
  margin-left: 0;
  text-indent: 0;
  opacity: 0.8;
}

.carousel .carousel-indicators .thumb-wrapper .img-thumbnail {
  display: block;
  padding: 0;
  background-color: none;
  width: 100%;
  height: auto;
  border-radius: 0;
}

.carousel .carousel-indicators .thumb-wrapper .thumb-text {
  display: block;
  position: relative;
  width: 100%;
  background-color: #000000b3;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "KaiTi" ， "KaiTi_GB2312";
  line-height: 26px;
  min-height: 120px;
  margin-top: -120px;
}

.carousel .carousel-indicators .thumb-wrapper h4 {
  display: inline-block;
  max-width: 250px;
  padding: 7% 10%;
  font-weight: 500;
  font-size: 1.3em;
  letter-spacing: -0.5px;
}

.carousel .carousel-inner .carousel-caption {
  right: 0;
  top: 15%;
  left: auto;
  bottom: auto;
  text-align: left;
  max-width: 40%;
  min-width: 300px;
  padding: 30px 37px;
  padding-bottom: 35px;
  background-color: #000;
}

.carousel .carousel-inner .carousel-caption.slide1 {
  background-color: #5997AF;
}

.carousel .carousel-inner .carousel-caption.slide2 {
  background-color: #901F11;
}

.carousel .carousel-inner .carousel-caption.slide3 {
  background-color: #285471;
}

.carousel .carousel-inner .carousel-caption.slide4 {
  background-color: #48474C;
}

.carousel .carousel-inner .carousel-caption.slide5 {
  background-color: #252C34;
}

.carousel .carousel-inner .carousel-caption.slide6 {
  background-color: #A43E30;
}

.carousel .carousel-inner .carousel-caption h1 {
  padding: 15px 0;
}

.carousel .carousel-inner .carousel-caption .teaser {
  font-size: 1.2em;
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", "KaiTi";
}

.carousel .carousel-inner .carousel-caption a {
  color: #ff8c00;
  display: block;
  padding-top: 20px;
  font-size: 1.1em;
}

.carousel .carousel-inner .carousel-caption a:hover {
  color: white;
}

.carousel .carousel-inner .carousel-caption .right-arrow {
  display: inline-block;
  margin-left: 19px;
  height: 15px;
  width: 50px;
  background-image: url(../../images/icons/arrow-r.png);
  background-size: 45px 10px;
  background-repeat: no-repeat;
  background-position: 0 3px;
}

#navbarSupportedContent {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 4;
  background-color: #232323;
  background-size: cover;
  background-repeat: repeat-y;
  padding-top: 13%;
  padding-bottom: 12%;
  padding-left: 12%;
  height: auto;
}

#navbarSupportedContent .container-fluid .row {
  width: 100%;
}

.navbar-light {
  padding: 0;
}

.navbar-light button:focus {
  outline: none;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("../../images/icons/nav-m.png");
  width: 70px;
  height: 70px;
}

.navbar-light .navbar-toggler .navbar-toggler-icon.opened {
  background-image: url("../../images/icons/nav-x.png");
}

.navbar-light .brand-navbar-icon.opened {
  background-color: white;
}

.navbar-light .brand-navbar-icon {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 5;
  background-color: rgba(214, 230, 243, 0.95);
  padding: 15px 16px 13px 20px;
}

.navbar-light .brand-navbar-icon .navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar-light .navbar-nav {
  font-size: 2em;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(214, 230, 243, 0.9);
}

.navbar-light .navbar-nav .nav-link.scripts {
  color: white;
}

.navbar-light .navbar-nav .dropdown-menu {
  background-color: #232323;
  font-size: 0.8em;
}

.navbar-light .hover-box-wapper {
  max-width: 380px;
  display: none;
  position: absolute;
  z-index: 0;
}

.navbar-light .hover-box-wapper a {
  font-size: 1.2em;
  display: inline-block;
  color: white;
}

.navbar-light .hover-box-wapper .menu-img {
  border: 2px solid #5997AF;
  margin-bottom: 15px;
}

.menu-hover-right > .scripts.hover-box-wapper > .submenu-img {
  display: none;
}

.navbar-light .navbar-nav .show > .nav-link {
  color: #5997AF;
}

.subpage-menu {
  background-color: #5997AF;
  color: white;
}

.subpage-menu .nav-item {
  border-left: 2px solid #89b9c53d;
  padding: 0px 12px;
}

.subpage-menu .navbar-nav .nav-link {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.subpage-menu .navbar-nav .nav-link:hover {
  color: #b45f05;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  background-color: #00000085;
  color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

#myBtn:hover {
  background-color: #555555;
}

.banner {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .clearfix {
  min-height: 400px;
}

.bg-marc {
  background-color: #5997AF;
}

.bg-marc .top-title {
  position: relative;
  padding: 4%;
  background-color: #00000075;
  color: white;
  margin: 25% 50px 15% 50px;
  max-width: 604px;
  border-radius: 10px;
}

.jumbotron {
  margin-bottom: 0;
}

.jumbotron.bg-marc {
  background-image: url(../../images/marc-home.jpg);
  background-position: 0 0;
  background-size: cover;
}

.heror {
  min-height: 100px;
  padding: 20px;
}

.heror h1 {
  color: white;
}

.heror .container {
  display: inline-block;
  width: 90%;
}

.heror .read-script {
  display: inline-block;
  float: right;
  width: 10%;
}

.heror .read-script a {
  color: #fa7e33;
  font-size: 1.3em;
}

article .container {
  max-width: 996px;
}

article .accordion {
  padding-left: 0;
  padding-right: 0;
}

article .d8 {
  font-size: 1.5em;
  font-weight: 500;
  color: #5997af;
  padding: 10px;
  text-shadow: -2px -2px #ffffff;
}

article .enlarge {
  text-align: center;
}

article .enlarge img {
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: "86%";
  border: 2px solid rgba(250, 127, 51, 0.562);
  -webkit-box-shadow: 5px 10px 8px 5px #fa7e33;
  box-shadow: 4px 7px 14px 1px #fa7e33;
}

article .embed-responsive {
  border: 2px solid rgba(250, 127, 51, 0.562);
  -webkit-box-shadow: 5px 10px 8px 5px #fa7e33;
  box-shadow: 4px 7px 14px 1px #fa7e33;
}

article .card .btn-link {
  color: #5997af;
  font-size: 0.6em;
  font-weight: 500;
}

a.play-youtube-img {
  position: relative;
}

a.play-youtube-img .img-thumbnail {
  position: relative;
  padding: 0;
  background-color: none;
  border: 2px solid rgba(250, 127, 51, 0.562);
  -webkit-box-shadow: 4px 7px 14px 1px #fa7e33;
          box-shadow: 4px 7px 14px 1px #fa7e33;
  border-radius: 0.25rem;
}

a.play-youtube-img .player-button {
  position: absolute;
  left: 40%;
  top: -35px;
  width: 100px;
  border: 2px solid #ed000045;
  -webkit-box-shadow: 2px 2px 20px white;
          box-shadow: 2px 2px 20px white;
  border-radius: 60px;
  background-color: #ffffff91;
}

/* Page:  ?q=vivildi */
@media (max-width: 991.98px) {
  .carousel .carousel-inner .carousel-caption {
    max-width: 55%;
  }
  h1 {
    font-size: 2.1em;
  }
}

@media (max-width: 767.98px) {
  .navbar-light .brand-navbar-icon {
    position: sticky;
    width: 100%;
  }
  .heror .read-script {
    width: auto;
    margin-top: -15px;
  }
  .carousel .carousel-indicators .thumb-wrapper h4 {
    font-size: 18px;
  }
  .carousel .carousel-inner .carousel-caption {
    top: 17%;
    max-width: 100%;
    padding: 15px 37px;
  }
  .carousel .carousel-inner .carousel-caption h1 {
    padding: 7px 0;
  }
  .carousel .carousel-inner .carousel-caption .teaser {
    font-size: 1.1em;
  }
  h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 575.98px) {
  .carousel .carousel-indicators .thumb-wrapper .thumb-text {
    min-height: 100px;
    margin-top: -100px;
  }
  .carousel .carousel-indicators .thumb-wrapper h4 {
    font-size: 16px;
    height: 67px;
    overflow: hidden;
  }
  .carousel .carousel-inner .carousel-caption {
    top: 10%;
  }
  .carousel .carousel-inner .carousel-caption a {
    padding-top: 5px;
    font-size: 1em;
  }
  .carousel .carousel-inner .carousel-caption .teaser {
    font-size: 1em;
  }
  h1 {
    font-size: 1.6em;
  }
}

/*# sourceMappingURL=styles.css.map */
