.carousel {

  .carousel-indicators {
    margin-right: 0;
    margin-left: 0;
    bottom: -26px;
    
    li {
      width: 20%;  
      height: auto;
      background-color: #000;
      margin-right: 0;
      margin-left: 0;
      text-indent: 0;
      opacity: 0.8;
    }
    
    .thumb-wrapper {
      .img-thumbnail {
        display: block;
        padding: 0;
        background-color: none;
        width: 100%;
        height: auto;
        border-radius: 0;
        // border: none;
      }

      .thumb-text {
        display: block;
        position: relative;
        width: 100%;

        background-color: #000000b3;
        color: white;
        font-family: $font-open-sans;
        line-height: 26px;
        min-height: 120px;
        // padding: 20px;     
        margin-top: -120px;

      }
      h4 {
        display: inline-block;
        max-width: 250px;
        padding: 7% 10%;
        font-weight: 500;
        font-size: 1.3em;
        letter-spacing: -0.5px;

      }
    }
  }

  .carousel-inner {
    .carousel-caption {
      right: 0;
      top: 15%;
      left: auto;
      // height: 45%;
      bottom: auto;
      text-align: left;
      max-width: 40%;
      min-width: 300px;
      padding: 30px 37px;
      padding-bottom: 35px;
      background-color: #000;

      &.slide1 {
        background-color: $bg-marc;
      }

      &.slide2 {
        background-color: $bg-vivaldi;
      }
      &.slide3 {
        background-color: $bg-shakespeare;
      }
      &.slide4 {
        background-color: $bg-mrh;
      }
      &.slide5 {
        background-color: $bg-cold;
      }
      &.slide6 {
        background-color: $bg-juarez;
      }

      h1 {
            padding: 15px 0;
      }

      .teaser {
            font-size: 1.2em;
            font-family: Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            "KaiTi";
      }

      a {
        color: #ff8c00;
        display: block;
        padding-top: 20px;
        font-size: 1.1em;
        &:hover {
          color: white;
        }
      }
      .right-arrow {
        display: inline-block;
        margin-left: 19px;
        height: 15px;
        width: 50px;
        background-image: url(../../images/icons/arrow-r.png);
        background-size: 45px 10px;
        background-repeat: no-repeat;
        background-position: 0 3px;
      
      }

    }
  }
}

#idName {

}