.banner {
  height: auto;
  display: flex;
  align-items: center;

  .clearfix {
    min-height: 400px;
  }
}

.bg-marc {

  background-color: $bg-marc;

  .top-title {
    position: relative;
    padding: 4%;
    background-color: #00000075;
    color: white;
    margin: 25% 50px 15% 50px;
    max-width: 604px;
    border-radius: 10px;
  }

}

.jumbotron {
  margin-bottom: 0;

  &.bg-marc {
    background-image: url(../../images/marc-home.jpg);
    background-position: 0 0;
    background-size: cover;
  }
}


.heror {

  min-height: 100px;
  padding: 20px;

  h1 {
    color: white;
  }

  .container {
    display: inline-block;
    width: 90%;

  }

  .read-script {
    display: inline-block;
    float: right;
    width: 10%;

    a {
      color: #fa7e33;
      font-size: 1.3em;
    }
  }

}


@mixin shadow-border ($width) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: $width;
  border: 2px solid rgba(250, 127, 51, 0.562);
  -webkit-box-shadow: 5px 10px 8px 5px #fa7e33;
  box-shadow: 4px 7px 14px 1px #fa7e33;
}

article {


  .container {
    max-width: 996px;
  }

  .accordion {
    padding-left: 0;
    padding-right: 0;
  }

  .d8 {
    font-size: 1.5em;
    font-weight: 500;
    color: #5997af;
    padding: 10px;
    text-shadow: -2px -2px #ffffff;
  }

  .enlarge {
    text-align: center;

    img {
      max-width: 75%;
      @include shadow-border("86%");

      // display: block;
      // margin-left: auto;
      // margin-right: auto;
      // width: 86%;
      // border: 2px solid rgba(250, 127, 51, 0.562);
      // -webkit-box-shadow: 5px 10px 8px 5px #fa7e33;
      // box-shadow: 4px 7px 14px 1px #fa7e33;
    }
  }


  .embed-responsive {
    // @include shadow-border("100%");
    border: 2px solid rgba(250, 127, 51, 0.562);
    -webkit-box-shadow: 5px 10px 8px 5px #fa7e33;
    box-shadow: 4px 7px 14px 1px #fa7e33;
  }

  .card .btn-link {
    color: #5997af;
    font-size: 0.6em;
    font-weight: 500; 
  }
}


a.play-youtube-img {
  position: relative;

  .img-thumbnail {
    position: relative; 
    padding: 0;
    background-color: none;
    border: 2px solid rgba(250, 127, 51, 0.562);
    box-shadow: 4px 7px 14px 1px #fa7e33;
    border-radius: 0.25rem;
  }

  .player-button {
    position: absolute;
    left: 40%;
    top: -35px; 
    width: 100px;
    border: 2px solid #ed000045;
    box-shadow: 2px 2px 20px white;
    border-radius: 60px;
    background-color: #ffffff91;
  }
}

/* Page:  ?q=vivildi */


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .carousel .carousel-inner .carousel-caption {
    max-width: 55%;
  }

  h1 {
    font-size: 2.1em;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

  .navbar-light .brand-navbar-icon {
    position: sticky;
    width: 100%;
  }


  .heror .read-script {
    width: auto;
    margin-top: -15px;
  }


  .carousel .carousel-indicators .thumb-wrapper h4 {
    font-size: 18px;
  }

  .carousel .carousel-inner .carousel-caption {
    top: 17%;
    max-width: 100%;
    padding: 15px 37px;

    h1 {
     padding: 7px 0;
    }
    
    .teaser {
      font-size: 1.1em;
    }
  }

  h1 {
    font-size: 1.8em;
  }


}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {


  .carousel .carousel-indicators .thumb-wrapper{
    .thumb-text {
      min-height: 100px;
      margin-top: -100px;
    }
  h4 {
    font-size: 16px;
    height: 67px;
    overflow: hidden;
  }
  } 

  .carousel .carousel-inner .carousel-caption {
    top: 10%;
    a {
      padding-top: 5px;
      font-size: 1em;
    }
  
    .teaser {
      font-size: 1em;
    }
  }


  h1 {
    font-size: 1.6em;
  }
}