$font-menu-item: "Goudy Bookletter 1911";
$font-open-sans: // Safari for OS X and iOS (San Francisco)
-apple-system,
// Chrome < 56 for OS X (San Francisco)
BlinkMacSystemFont,
// Windows
"Segoe UI",
// Android
"Roboto",
// Basic web fallback
"Helvetica Neue",
Arial,
sans-serif,
// Emoji fonts
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
// "Microsoft Yahei",
// "STXihei"
"KaiTi"， "KaiTi_GB2312"

;

$color__gold: #b45f05;
$bg-marc: #5997AF;
$bg-vivaldi: #901F11;
$bg-shakespeare: #285471;
$bg-mrh: #48474C;
$bg-cold: #252C34;
$bg-juarez: #A43E30;

$font-color-white: white;
$font-color-light: rgba(214, 230, 243, 0.9);

h1 {
  font-family: "Goudy Bookletter 1911";
}


.main {
  background-color: $font-color-light;
}

ul.borderless {
  li.list-group-item {
    float: left;
    border: none;
    padding: 0.1rem;
  }

}

.footer-copyright {
  text-align: center;
  text-shadow: 2px 3px 5px #3d8089;
  font-weight: 500;
}

.btn-lg {
  .fab {
    font-size: 2.4rem;
    border: 3px solid #c9ebf8;
    border-radius: 35px;
    width: 57px;
    height: 55px;
    padding: 6px 4px;
    background-color: #c9ebf8;
    box-shadow: 3px 4px 10px #c3ad9f;

    &::before {
      color: #17a2b8;
    }

    &:hover {
      background-color: #d3cac3;
      box-shadow: 3px 4px 10px $bg-juarez;
    }
  }

  .fa-facebook-f,
  .fa-linkedin-in {
    padding-left: 10px;
  }
}