

#navbarSupportedContent {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 4;

  background-color: #232323;
  background-size: cover;
  background-repeat: repeat-y;
  padding-top: 13%;
  padding-bottom: 12%;
  padding-left: 12%;
  height: auto;

  .container-fluid {

    // position: fixed; 
    .row {
      width: 100%;
    }
  }

}

.navbar-light {

  padding: 0;

  button:focus {
        outline: none;
  }

  .navbar-toggler {
    border: none;

    .navbar-toggler-icon {
      background-image: url("../../images/icons/nav-m.png");
      width: 70px;
      height: 70px;
    }


    .navbar-toggler-icon.opened {
      background-image: url("../../images/icons/nav-x.png");
    }
  }

  .brand-navbar-icon.opened {
    background-color: white;
  }

  .brand-navbar-icon {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 5;
    background-color: rgba(214, 230, 243, 0.95);
    padding: 15px 16px 13px 20px;

    .navbar-brand {
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  .navbar-nav {


    font-size: 2em;

    .nav-link {
      // color: rgba(252, 252, 252, 0.7);
      color: $font-color-white;

      &:hover {
        color: $font-color-light;
      }

      &.scripts {
        color: $font-color-white;
      }

    }

    .dropdown-menu {
      background-color: #232323;
      font-size: 0.8em;
    }

  }

  .hover-box-wapper {
    max-width: 380px;
    display: none;
    position: absolute;
    z-index: 0;

    a {
      font-size: 1.2em;
      display: inline-block;
      // padding: 10px;
      color: $font-color-white;
    }

    .menu-img {
      border: 2px solid #5997AF;
      margin-bottom: 15px;
    }


    // .submenu-img {
    //   display: none;
    // }



  }

}


.menu-hover-right>.scripts.hover-box-wapper>.submenu-img {
  display: none;
}

.navbar-light .navbar-nav .show>.nav-link {
  color: #5997AF;
}


.subpage-menu {
  background-color: #5997AF;
  color: white;
  .nav-item {
    border-left: 2px solid #89b9c53d;
    padding: 0px 12px;
  }

  .navbar-nav .nav-link  {
    color: white;
    font-size: 1.1em;
    font-weight: bold;

    &:hover {
      color: $color__gold;
    }
  }
}