#myBtn {
  display: none;

  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  background-color: #00000085;
  color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
  border: none;

  &:hover {
    background-color: #555555;
  }
}